/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.notice {
	float: center;
	width: 500px;
	text-align: center;
	margin: 20px auto auto auto;

	color: #259433;
	padding: 10px 60px 10px 60px;
	font-size: 80%;
}

.error {
	float: center;
	width: 500px;
	text-align: center;
	margin: 20px auto auto auto;

	color: #B82203;
	padding: 10px 60px 10px 60px;
	font-size: 80%;
}

a:link, a:visited, a:active {
  color: #333333;
  text-decoration: none;
}

.invisible {
	color: #ffffff;
	font-size: 1%;
}

body {
	font-family: Helvetica;
	font-weight: lighter;
	color: #333333;
	width: 960px;
	margin: 20px auto auto auto;
}

.page-title {
	margin: 30px auto 30px 10px;
	text-align: center;
}

.page-content {
	width: 940px;
	margin: 10px;
	width: 100%;
}


.margin-top {
	margin-top: 3px;
}