
.width-50 {
	width: 50px;
}

.width-100 {
	width: 100px;
}

.width-150 {
	width: 150px;
}

.width-200 {
	width: 200px;
}

.width-300 {
	width: 300px;
}

.width-400 {
	width: 400px;
}

.width-650 {
	width: 650px;
	margin: 10px;
}

.width-750 {
	width: 750px;
	margin: 10px;
}

.width-900 {
	width: 900px;
}

.height-300 {
	height: 300px;
}
