

#dropdown ul ul {
	display: none;
	position: absolute;
}

#dropdown ul li:hover ul {
	display: block;
}

#dropdown ul li:hover ul li {
	display: block;
	background-color: #1f4d96;
	padding: 10px 10px 10px 10px;
	margin-left: 155px;

}

.header-top {
	width: 960px;
	margin: 10px;
	height: 100px;
}




.logo-header {
	float: center;
	width: 400px;
	margin: auto auto auto auto;
}

.logo-header img {
	margin-left: 20px;
}

.navbar {
	width: 940px;
	margin: 10px;
/*	border: 2px solid #cecece;*/
	background-color: #1f4d96;
	overflow: auto;
	width: 100%;
}

.navbar ul {
	height: 15px;
	margin-bottom: auto;
	margin-top: auto;
}

.navbar li {
	display: inline;
	padding-right: 20px;
}

.navbar a:link, .navbar a:visited, .navbar a:active {
	font-family: Helvetica;
	font-weight: lighter;
  color: #eaeaea;
  text-decoration: none;
}

.navbar-left {
  float: left;
  width: 620px;
  margin: 10px;
}

.navbar-right {
  float: right;
  width: 300px;
  margin: 10px;
}

.navbar-right ul {
  float: right;

}