// Place all the styles related to the lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.lecture-description-container {
	width: 300px;
	text-align: center;
	margin: 10px auto auto auto;
}

.lecture-description-container li {
	display: block;
}

.lecture-description-container ul {
	padding: 0;
}

span.italic {
	font-style: italic;
}

span.bold {
	font-weight: bold;
}