

.my-lectures-container {
	width: 530px;
	overflow: auto;
	margin: auto auto auto auto;
}


.my-lectures-name {
	float: left;
  width: 250px;
  margin: 1px 10px 1px 10px;
}

.my-lectures {
	float: left;
  width: 80px;
  margin: 1px 10px 1px 10px;
}
