
<div class="navbar">

	<div class="navbar-left">
		<ul>
			<%= render 'layouts/course_links' %>
		</ul>
	</div>

	<div class="navbar-right">
		<ul>
			<%= render 'layouts/login_links' %>
		</ul>
	</div>

</div>